* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 1040px;
    margin: 0 auto ;

}

header {
    background-color: #222222;
    padding-bottom: 179px;
}

nav {
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 113px;
}

nav>ul {
    display: flex;
    align-items: center;  
    list-style-type: none;        
}   

.nav-links {
    flex-grow: 1;
    margin-left: 62px;

}


.nav-links>li {
    margin-right: 30px;
}

.contact-links>li {
    margin-left: 24px;
}

nav a {
    font-family: Verdana;
    font-size: 14px;
    color: rgb(252, 255, 255);
    text-decoration: none;
}

.header-promo {
    margin-left: 126px;
    width: 254px;

}

h1 {
    font-family: 'Courier New';
    font-size: 44px;
    color: white;
    font-weight: bold;
}

.header-promo>p {
    font-family: Verdana;
    font-size: 14px;
    color: white;
    margin-top: 32px;
    margin-bottom: 54px;
}

.header-promo>a {
    text-decoration: none;
    font-family: Verdana;
    font-size: 14px;
    background-color: #ffcb06;
    padding: 17px 100px 16px 38px;
    border-radius: 25px;
    color: black;
}


.advantages {
    background-color: #131313;
   padding: 187px 0 79px 0;

}


.advantages ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

}

.advantages ul>li {
    font-family: Verdana;
    font-size: 14px;
    color: #D4D4D4;
    width: 172px ;
    position: relative;
}

.advantages ul>li:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url("../img/advantage-icon-1\ 1.png");
    width: 60px;
    height: 68px;
    top: -102px;
    left: 0;
}

.advantages ul>li:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url("../img/advantage-icon-2\ 1.png");
    width: 60px;
    height: 68px;
    top: -102px;
    left: 0;
}

.advantages ul>li:nth-child(3)::before {
    content: "";
    position: absolute;
    background-image: url("../img/advantage-icon-3\ 1.png");
    width: 60px;
    height: 68px;
    top: -102px;
    left: 0;
}

.advantages ul>li:nth-child(4)::before {
    content: "";
    position: absolute;
    background-image: url("../img/advantage-icon-4\ 1.png");
    width: 60px;
    height: 68px;
    top: -102px;
    left: 0;
}

.content {
    background-color: #fff;
    padding: 80px 0 126px 0;

}

.row {
    display: flex;
    justify-content: space-between;

}

h3 {
    color: black;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 24px;
}

.content ul {
    list-style: none;
}

.content li {
    font-family: 'Verdana';
    font-size: 14px;
    color: black;
}

.content p {
    font-family: Verdana;
    font-size: 14px;
    color: black;

}

.row:first-child .left-column {
    width: 440px;
    height: 346px;

}

.row:first-child .right-column {
    width: 443px;
   
}

.row:first-child .right-column>h3{
    padding-top: 5px;
    margin-bottom: 44px;
}


.row:first-child .right-column>p{
    margin-bottom: 25px;
}

.row:last-child .left-column {
    width: 455px;
    

}

.row:last-child .left-column ul {
    padding-left: 32px;
}

.row:last-child .right-column {
    width: 443px;
   
}


.row:last-child .right-column ul {
    padding: 0 42px 0 31px;
}

.row:last-child h3 {
    margin-bottom: 27px;
}

.row:last-child {
    margin-top: 52px;
}

.row:last-child li {
    margin-bottom: 25px;
    position: relative;

}

.row:last-child li::before {
    content: "";
    z-index: 99;
    position: absolute;
    background-color: #FFCB06;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 6px;
    left: -23px;
}
/* .row:first-child .left-column>img{ */
    /* width: 100%; */

/* } */


footer {
    background-color: #131313;
    padding: 60px 0 84px 0 ;
    
  
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    font-family: Verdana;
    font-size: 14px;
    color: #555555;}

.footer_wrapper>div {
    width: 180px;
}

.footer_wrapper>div:first-child {
    width: 162px;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-family: Verdana;
    font-size: 14px;
    color: #D4D4D4;
    margin-bottom: 110px;
}

.footer-logo>span {
    margin-left: 15px;
    margin-top: 7px;
}

footer h3 {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #d4d4d4;
    border-bottom: 1px solid #555555;
    padding-bottom: 12px;
    padding-top: 30px;
    margin-bottom: 58px;
}

footer ul {
list-style: none;
}

footer ul li {
    margin-bottom: 28px;
}

footer ul li:last-child {
    margin-bottom: 0;
}

footer ul a {
    font-family: Verdana;
    font-size: 14px;
    color: #888888;
    text-decoration: none;

}

